.wrap {
  position: relative;
  width: 375px;
  height: 768px;
  background: #eeece5;
  margin: 0 auto;
}
/* header */
header.main_header {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.main_header .profile {
  margin-left: 27px;
  width: 43px;
  height: 43px;
  display: block;
}
header.main_header .profile img {
  width: 100%;
  cursor: pointer;
}
header.main_header h3.account_name {
  font-weight: 500;
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
header.main_header .search_area {
  display: flex;
  margin-right: 27px;
}
header.main_header .search_area li {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}
header.main_header .search_area li + li {
  margin-left: 18px;
}
header.main_header .search_area li img {
  height: 100%;
}

/* menu */
nav.menu {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 76px;
  box-sizing: border-box;
  background: linear-gradient(163.63deg, #00bdb2 11.35%, #c4e7bb 139.96%);
  z-index: 2;
}
nav.menu .menu_area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav.menu .menu_area li {
  width: 28px;
  height: 28px;
  display: flex;
  align-content: center;
  cursor: pointer;
}
nav.menu .menu_area li img {
  width: 100%;
}
nav.menu .menu_area li.on img {
  filter: invert(0.8);
  opacity: 0.7;
}
/* NotLogin */
.notLogin {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  height: 622px;
  display: block;
  text-align: center;
  padding-top: 200px;
  box-sizing: border-box;
}
.notLogin .loginBtn {
  display: block;
  margin: 40px auto;
  width: 120px;
  height: 40px;
  background: #ff8900;
  color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 #cb9f6c;
  cursor: pointer;
  font-size: 18px;
}
/* login modal */
.loginModalArea {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.loginModalArea.open {
  display: block;
}

.loginModalArea .loginModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  background: #fff;
  border-radius: 10px;
}
.loginModalArea .loginModal .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  cursor: pointer;
}
.loginModalArea .loginModal .main {
  margin-top: 40px;
}
.loginModalArea .loginModal .main > h3 {
  font-size: 28px;
  margin-bottom: 80px;
}
.loginModalArea .loginModal .main .login-form {
  width: 80%;
  margin: 0 auto;
}
.loginModalArea .loginModal .main .login-form .login-form-button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.loginModalArea .loginModal .main .login-form .loginBtnArea {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}

/* register */
.register_wrap {
  width: 100%;
  height: 622px;
  box-sizing: border-box;
}
.register_wrap .registerModal_area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.register_wrap .registerModal_area .registerModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  background: #fff;
  border-radius: 10px;
}
.registerModal .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  cursor: pointer;
  color: #000;
}
