.wrap {
  width: 375px;
  height: 768px;
  background: #eeece5;
  margin: 0 auto;
}
/* header */
header.main_header {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.main_header .profile {
  margin-left: 27px;
  width: 43px;
  height: 43px;
  display: block;
}
header.main_header .profile img {
  width: 100%;
  cursor: pointer;
}
header.main_header h3.account_name {
  font-weight: 500;
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
header.main_header .search_area {
  display: flex;
  margin-right: 27px;
}
header.main_header .search_area li {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}
header.main_header .search_area li + li {
  margin-left: 18px;
}
header.main_header .search_area li img {
  height: 100%;
}

/* menu */
nav.menu {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 76px;
  box-sizing: border-box;
  background: linear-gradient(163.63deg, #00bdb2 11.35%, #c4e7bb 139.96%);
  z-index: 2;
}
nav.menu .menu_area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav.menu .menu_area li {
  width: 28px;
  height: 28px;
  display: flex;
  align-content: center;
  cursor: pointer;
}
nav.menu .menu_area li img {
  width: 100%;
}
nav.menu .menu_area li.on img {
  filter: invert(0.8);
  opacity: 0.7;
}
